body {
  margin: 0;
  padding: 0;
}

.book-logo {
  letter-spacing: 5px;
}

.card {
  margin-top: 10%;
}

.card-image img {
  height: 25em;
}

.search-container {
  margin-top: 10%;
  padding: 2em;
}

.input-field input:focus + label {
  color: #283593 !important;
}

.input-field input:focus {
  border-bottom: 1px solid #283593 !important;
  box-shadow: 0 1px 0 0 #283593 !important
}
.input-field input:blur {
  border-bottom: 1px solid gray !important;
  box-shadow: 0 1px 0 0 gray !important
}

.loading svg {
  height: 25em;
  margin-top: 30%;
}



